body{
    background-color: black; 
    display: flex;
    justify-content: center;
    padding: 90px 0 0 0;
}
.box{
    width: 450px;
    background-color: black; 
    text-align: center; 
    margin: 20px;
}
img{
    width: 200px;
    justify-content: center;
    padding: 10px;
}
input::placeholder{
    color: #DAA520;
    padding: 0 10px;
}
input{
    width: 90%;
    margin: 10px;
    border-radius: 5px;
    height: 30px;
    border-bottom: 1px solid #DAA520;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    background-color: black;
    color: #DAA520;
}
button{
    width: 91%;
    margin: 10px;
    border-radius: 5px;
    height: 35px;
    background-color: #DAA520;
    font-weight: bold;
    border: 0;
}
button:hover{
    background-color: gray;

}
h1{
    font-family: Arial, Helvetica, sans-serif;
}
button a{
    text-decoration: none;
    color: #DAA520;
}
.box .text .a{
    text-decoration: none;
    color: #DAA520;
    font-family: Arial, Helvetica, sans-serif;
}
.box .text .a:hover{
    text-decoration: underline;
    color: #DAA520;
}
.fundi{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#ngj{
    color: black;
}
