body{
    margin: 0;
    background-color: rgb(0, 0, 0, 0.9) 
    
}
    
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 97%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: rgba(0,0,0,0.7);  
    z-index: 1000; 
}

.header img{
    height: 70px;
}
.header .menu{
    
    display: flex;
    align-items: center;
    gap: 25px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.header a{

    text-decoration: none;
    color: grey;
    font-size: 16px;
}
a:hover{
   color: #DAA520;
}
a.m{
    color: #DAA520;
}

.b1{
    margin-top: 100px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-style: italic;
    width: 90%;
}
.b1 p{
    padding: 20px;
}
.b1 img{
    width: 500px;
}
.b2{
    background-image: url(../img/index41.jpg);
    color: white;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply; 


}
.b2 p{
    width: 600px;
    padding: 10px;
    font-size: 20px;
    font-style: italic;
}
.bb1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}



.sh{
    background-image: url('../img/shfletoo.jpg');
    border: 1px solid #DAA520;
}
.sh h2{
    font-size: 50px;
}
.shfleto{
    display: flex;
    width: 100%;
    height: 400px;

}
#Lambo,#Ferrari,#Audi,#Mercedes,#BMW,#Porsche{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
    align-items: baseline;
    width: 12%;
    padding: 10px;
}
.sh {
    text-align: center;
}

.sh h2 {
    color: #DAA520;
    margin-bottom: 20px;
}

.shfleto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

.shfleto img {
    width: 100px;
    height: auto;
    object-fit: contain;
    transition: transform 0.3s ease; 
}

.shfleto img:hover {
    transform: scale(1.2); 
}




.copyright {
    margin-top: 35px;
    font-size: 14px;
    color: #ddd;
}
footer p{
    color: white;
    
}
footer a{
    text-decoration: none;
}
footer p:hover{
    color: #DAA520;
}
.end{
    
    height: 100%px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.end p{
    color: white;
    font-size: 20px;
}
.end p:hover{
    color: white;

}
.social-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: auto;
    border-top: 2px solid #ffffff22;
    border-bottom: 2px solid #ffffff22;
    padding: 30px 0;
}

.social-box {
    width: 30%;
    text-align: center;
}

.social i {
    font-size: 50px;
    margin-bottom: 10px;
    transition: 0.4s ease;
    color: #fff;
}

.social p {
    font-size: 18px;
    margin-top: 5px;
}


.fb:hover i {
    color: #1877F2;  
    transform: scale(1.2);
}

.ig:hover i {
    background: linear-gradient(45deg,#feda75,#fa7e1e,#d62976,#962fbf,#4f5bd5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.2);
}

.tt:hover i {
    color: #ffffff;
    transform: scale(1.2);
}
.sh{
    margin-top: 20px;
}
.lokacioni{
    padding-top: 10px;
}