body{
    background-color: black; 
    display: flex;
    justify-content: center;
    padding: 80px 0 0 0;
}
.box{
    width: 450px;
    background-color: black; 
    text-align: center;
    margin: 20px;
}
img{
    width: 200px;
    justify-content: center;
    padding: 10px;
}
input::placeholder{
    color: #DAA520;
    padding: 0 10px;
}
input{
    
    width: 90%;
    margin: 10px;
    border-radius: 5px;
    height: 30px;
    border-bottom: 1px solid #DAA520;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    background-color: black;
    color: #DAA520;
}
select{
    width: 91%;
    margin: 10px;
    border-radius: 5px;
    height: 35px;
    border-bottom: 1px solid #DAA520;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    background-color: black;
    padding: 0 10px;
    color: #DAA520;
}
select option{
    color: #DAA520;
    padding: 0 10px;
}
button{
    width: 91%;
    margin: 10px;
    border-radius: 5px;
    height: 35px;
    border-color: black;
    background-color: #DAA520;
    font-weight: bold;
    border: 0;
}
#ngj{
    color: black;
}
button:hover{
    background-color: gray;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}
button a{
    text-decoration: none;
    color: #DAA520;
}
.box .text .a{
    text-decoration: none;
    color: #DAA520;
    font-family: Arial, Helvetica, sans-serif;

}
.box .text .a:hover{
    text-decoration: underline;
    color: #DAA520;
}
.fundi{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 480px) {
    body {
        padding: 20px 0;
        display: block;
    }

    .box {
        width: 90%;
        max-width: 380px;
        margin: 20px auto;
        padding: 25px 15px;
        box-sizing: border-box;
    }

    .box input, .box select {
        width: 100%;
        padding: 12px;
        margin-bottom: 12px;
        font-size: 16px;
        box-sizing: border-box;
        border-radius: 5px;
    }

    #ngj {
        width: 100%;
        padding: 14px;
        font-size: 16px;
        font-weight: bold;
        margin-top: 10px;
    }

    .fundi {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        width: 100%;
    }

    .fundi .a {
        font-size: 14px;
    }

    .text img {
        height: 60px;
        margin-bottom: 15px;
    }
}